@{
    ViewData["Title"] = "Список";
}
<h1>Список кнопок</h1>
<form method="post" action="@Url.Action("Index", "Home")" style="text-align: center;">
    <input type="submit" value="Кнопка 1" />
</form>
<form method="post" action="@Url.Action("Index", "Home")" style="text-align: center;">
    <input type="submit" value="Кнопка 2" />
</form>
<form method="post" action="@Url.Action("Index", "Home")" style="text-align: center;">
    <input type="submit" value="Кнопка 3" />
</form>
<form method="post" action="@Url.Action("Index", "Home")" style="text-align: center;">
    <input type="submit" value="Кнопка 4" />
</form>
<form method="post" action="@Url.Action("Index", "Home")" style="text-align: center;">
    <input type="submit" value="Кнопка 5" />
</form>